<mat-card class="p-6 max-w-md mx-auto mt-10">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error>
        @if (registerForm.get('firstName')?.hasError('required')) {
          First name is required
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error>
        @if (registerForm.get('lastName')?.hasError('required')) {
          Last name is required
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error>
        @if (registerForm.get('email')?.hasError('required')) {
          Email is required
        }
      </mat-error>
      <mat-error>
        @if (registerForm.get('email')?.hasError('email')) {
          Invalid email format
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-6">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error>
        @if (registerForm.get('password')?.hasError('required')) {
          Password is required
        }
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
      Register
    </button>

    @if (validationErrors?.length) {
      <div class="mt-4 text-red-600">
        <ul>
          @for (err of validationErrors; track $index) {
            <li>{{ err }}</li>
          }
        </ul>
      </div>
    }

  </form>
</mat-card>
